:root {
    --font-color--body: #e9ecef;
    --font-color--h1: #868e96;
    --font-color--h2: #adb5bd;
    --font-color--h3: #ced4da;
    --body-background-color: transparent;
    --page-background-color: #212529;
    --page-bacckground-color--first-page: #fac319;
}