:root {
    --font-color--body: #212529;
    --font-color--h1: #868e96;
    --font-color--h2: #495057;
    --font-color--h3: #343a40;
    --body-background-color: transparent;
    --page-background-color: #fff;
    --page-bacckground-color--first-page: #fac319;
}