# IDEs
.idea
.vscode

# Virtual environment
/.venv

 # YOLO
/yolo/**/*.yaml
/yolo/dataset/original/**/*
/yolo/dataset/resized/**/*
/yolo/dataset/labeled/**/*
/yolo/dataset/augmented/**/*
/yolo/dataset/organized/**/*
/yolo/runs/**/*
/yolo/**/*.zip