# JetBrains IDEs
.idea
/**/*/.idea

# VS Code
.vscode
/**/*/.vscode

# Virtual environment
.venv
.env
/**/*/.venv
/**/*/.env

# Python
__pycache__
/**/*/__pycache__

# Circuit Python settings.toml
/**/*/settings.toml

# Logs
/**/*/raspberry-pi-5/logs/**/*

# YOLO
/**/*/yolo/data/local/*.yaml
/**/*/yolo/dataset/original/**/*
/**/*/yolo/dataset/resized/**/*
/**/*/yolo/dataset/labeled_4c/**/*
/**/*/yolo/dataset/labeled_2c/**/*
/**/*/yolo/dataset/augmented_4c/**/*
/**/*/yolo/dataset/augmented_2c/**/*
/**/*/yolo/dataset/organized_4c/**/*
/**/*/yolo/dataset/organized_2c/**/*
/**/*/yolo/**/*/runs/**/*
/**/*/yolo/**/*/zip/**/*
/**/*/yolo/**/*.zip

# Hailo
/**/*/hailort.log
/**/*/hailo/suite/libs
/**/*/hailo/suite/v11

# Structurizr
/**/*/.structurizr/**/*

# Logs
/**/*/logs/**/*

# MkDocs
/site
/**/*/site

# PDF
/**/*/teamsteelbot.pdf

# Executables
/**/*/*.exe
/devices/raspberry-pi-5/go/output
/devices/raspberry-pi-pico-2w/tinygo/output