train: /content/drive/MyDrive/.../2c_to_train/yolo/dataset/2c/organized/to_process/train/images
val: /content/drive/MyDrive/.../2c_to_train/yolo/dataset/2c/organized/to_process/val/images

nc: 2  # number of classes
names: [ 'green rectangular prism', 'red rectangular prism' ]  # class names