train: .../yolo/dataset/3c/organized/to_process/train/images
val: .../yolo/dataset/3c/organized/to_process/val/images

nc: 3  # number of classes
names: [ 'green rectangular prism', 'red rectangular prism', 'magenta rectangular prism' ]  # class names