train: .../yolo/dataset/organized_2c/to_process/train/images
val: .../yolo/dataset/organized_2c/to_process/val/images

nc: 2  # number of classes
names: [ 'green rectangular prism', 'red rectangular prism' ]  # class names