train: .../yolo/dataset/organized_4c/to_process/train/images
val: .../yolo/dataset/organized_4c/to_process/val/images

nc: 4  # number of classes
names: [ 'blue line', 'green rectangular prism', 'orange line', 'red rectangular prism' ]  # class names