train: /content/drive/MyDrive/.../g_to_train/yolo/dataset/g/organized/train/images
val: /content/drive/MyDrive/.../g_to_train/yolo/dataset/g/organized/val/images

nc: 1  # number of classes
names: [ green rectangular prism' ]  # class names
